{
    "staging": "https://staging.exaxmple.com",
    "local": "http://local.example.com",
    "prod": "https://prod.example.com",

    "NAME": "name_example",
    "PASSWORD": "password_example",
    "USER_ID": "id_user_example"    
}